#page-teacher-list {
  height: 100vh;
  width: 100vw;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers button {
  background: var(--color-secondary);
  border: 0;
  border-radius: 0.8rem;
  color: var(--color-button-text);
  cursor: pointer;
  font: 700 1.6rem Archivo;
  height: 5.6rem;
  margin-top: 3.2rem;
  text-decoration: none;
  width: 100%;

  transition: background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

#search-teachers button:hover {
  background: var(--color-secondary-dark);
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;

    position: absolute;
    bottom: -28px;
  }

  #search-teachers .input-block + .input-block,
  #search-teachers .select-block + .select-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    margin: 0 auto;
    max-width: 740px;
    padding: 3.2rem 0;
  }

  .teacher-item header,
  .teacher-item footer {
    padding: 3.2rem;
  }

  .teacher-item > p {
    padding: 0 3.2rem;
  }

  .teacher-item footer p strong {
    display: initial;

    margin-left: 1.6rem;
  }

  .teacher-item footer button {
    font-size: 1.6rem;
    width: 24.5rem;

    justify-content: center;
  }

  .teacher-item footer button img {
    margin-right: 1.6rem; 
  }
}